@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  position: relative;
  z-index: 1000; /* Set to a high value */
}

.background {
  position: absolute;
  z-index: -1; /* Lower than navbar */
}

@font-face {
  font-family: 'MesloLGMDZNerdFontMono';
  src: url('/fonts/MesloLGMDZNerdFontMono-Regular.ttf') format('truetype'); /* Correct format */
  font-weight: 900;
  font-style: normal;
}

:root {
  --font-meslo-mono: 'MesloLGMDZNerdFontMono';
  /* Kanagawa Lotus Light Theme */
  --light-theme-background:#F5E0DC28; /* Gentle cream */
  --light-theme-color: #9F8170; /* Warm taupe */
  --light-theme-border: #dcd3c5; /* Soft beige-grey */
  --light-theme-accent-primary: #846b8c; /* Subtle plum */
  --light-theme-accent-secondary: #8296c8; /* Muted blue */
  --light-theme-highlight: #506d79; /* Deep teal */

  /* Kanagawa Dark Theme */
  --dark-theme-background: #181616; /* Deep indigo */
  --dark-theme-color: #D3D3D3; /* Warm beige */
  --dark-theme-border: #54546d; /* Smoky purple-grey */
  --dark-theme-accent-primary: #957fb8; /* Subdued purple */
  --dark-theme-accent-secondary: #7e9cd8; /* Gentle blue */
  --dark-theme-highlight: #223249; /* Rose red */
}

/* Apply theme styles based on the `data-theme` attribute on the <html> element */
html[data-theme="light"] {
  background-color: var(--light-theme-background);
  color: var(--light-theme-color);
  border: 1px solid var(--light-theme-border);
}

html[data-theme="dark"] {
  background-color: var(--dark-theme-background);
  color: var(--dark-theme-color);
  border: 1px solid var(--dark-theme-border);
}

/* Body and Font */
body {
  font-family: var(--font-meslo-mono), monospace;
}

/* Button Example */
button {
  font-family: var(--font-meslo-mono), monospace;
  border: 1px solid var(--light-theme-border);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button.light {
  background-color: var(--light-theme-accent-primary);
  color: var(--light-theme-color);
}

button.light:hover {
  background-color: var(--light-theme-highlight);
}

button.dark {
  background-color: var(--dark-theme-accent-primary);
  color: var(--dark-theme-color);
}

button.dark:hover {
  background-color: var(--dark-theme-highlight);
}
