.experience {
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 1200px;
}
.experience h1 {
  margin-top: 2rem;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  font-size: 2rem; /* Larger font size */
  font-weight: 700;
  border-bottom: 3px solid; /* Optional underline effect */
  padding-bottom: 0.5rem; 
}

.experience-container-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
}

.experience-container-grid .experience-card {
  border-radius: 5px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  border: 1px solid;
  position: relative;
  overflow: hidden;
}

.experience-container-grid .experience-card:hover {
  transform: translateY(-5px);
}

.experience-container-grid .job-title-duration-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.experience-container-grid .job-title-duration-section .job-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.experience-container-grid .job-title-duration-section .duration {
  font-size: 1rem;
  font-style: italic;
}

.experience-card .experience-description {
  margin-top: 1rem;

}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .experience-container-grid .job-title-duration-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .experience-container-grid .job-title-duration-section .job-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
.experience-card .experience-description {
  margin-top: 1rem;
}

.experience-description ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.experience-description ul li {
  margin-bottom: 0.25rem;
}

.experience-description h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
